<select id="search" name="cluster" class="cluster" placeholder="">
    <option value="title">title</option>
    <option value="address">address</option>
    <option value="price">price</option>
    <option value="beds">beds</option>
</select>