
<form id='filter_form' action="/filter">

    <div class="range-slider">
        <label for="range-slider__range"> Price </label><br>
        <input id='range_price' type="string" name="range-slider__range" step="10" min="0" max="10000" value="">
    </div>

    <section id='checklist'>
        <div>
            <input class="checkoption"  onclick="checkedOnClick(this);" type="checkbox" id="IL" name="IL" value="IL">
            <label for="IL"> IL</label>
        </div>

        <div>
            <input class="checkoption"  onclick="checkedOnClick(this);" type="checkbox" id="IN" name="IN" value="IN">
            <label for="IN"> IN</label>
        </div>

        <div>
            <input class="checkoption"  onclick="checkedOnClick(this);" type="checkbox" id="MI" name="MI" value="MI">
            <label for="MI"> MI</label>
        </div>
    </section>
    <section id="quantity">
        <label for="quantity"> Beds</label><br>
        <input id='beds_quantity' type="string" name="quantity" min="1" max="10" value=":">
    </section>

    <section id="cities_select">
        <label for="cities">Choose city</label>
        <select name="cities" id="cities">

            <option value=":" selected></option>
            <% for (var i = 0; i < f_city.length-1; i=i+2) { %>
                <option value="<%= f_city[i] %>"><%= f_city[i] %> (<%= f_city[i+1] %>)</option>
            <% } %>
        </select>
    </section>

    <button id="filter_button" class="searchButt" data-action="search" type="submit">Filter</button>
</form>