<div class="range-slider">
    <label for="range-slider__range"> Price </label><br>
    <input type="range" class="range-slider__range" value="0" min="0" max="100">
    <!-- filter house per price city beds state  -->
</div>
<form action="/city">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> city1</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> city2</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> city3</label><br><br>
    <!-- <input type="submit" value="Submit"> -->
</form>
<form action="/state">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    <label for="vehicle1"> city1</label><br>
    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
    <label for="vehicle2"> city2</label><br>
    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
    <label for="vehicle3"> city3</label><br><br>
    <!-- <input type="submit" value="Submit"> -->
</form>
<input type="number" name="quantity" min="1" max="5">