<!-- include html for range price filter -->
<div class="range-slider">
    <input type="range" class="range-slider__range" value="0" min="0" max="100">
    <span class="range-slider__value">0</span>
</div>